@keyframes fadeIn{
  0%{opacity:0 }
  50%{opacity:1}
  100%{opacity:0}
}
@keyframes fadeOut{
  from{opacity:1}
  to{opacity:0}
}
html, body {
  background-color: black;
  margin: 0;
  padding: 0;
}
body{
  text-align : center;
}
canvas {
  border-radius: 15px;
  display: inline;
  margin-top : 5%;
}
#controls{
  width: 100%;
  text-align: center;
}
#controls{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sw-time{
  color:white;
}
button {
  color: white;
  background-color: red;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
/*body{
  display: flex;
  flex-direction: column;
  align-items: center;
}*/
